.form-login {
    margin-top: 14%;
}

.logi-admin {
    margin-right: 0%;
    margin-left: 0%;
}

.footer-admin {
    margin-left: 200px;
}

.tree-left {
    margin-left: 10px;
}
.header-home {
    background-color: #FFCCCC;
    font-family: cursive;
    color: #333333;
}

.header-home ul li a{
    color: #333333;
    font-size: 20px;
}

.footer-home {
    background-color: #333333;
    color: #FFFFFF;
}

.carousel-inner img{
    height: 800px;
	width: 100%;
}
.the-travel {
    font-family: cursive;
}
.active-pink-2 input.form-control[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
  }
  .active-pink input.form-control[type=text] {
    border-bottom: 1px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
  }
.text-home{
    color: #FF0000;
}

.top-header h5 {
    font-size: 15px;
    color: #666666;
}
.header-home ul li a:hover {
    color: #FF0000;
}


.footer-home {
    font-size: 17px;
}

.footer-home  {
    font-size: 17px;
}

.footer-home  {
    font-size: 17px;
    color: #DDDDDD;
}

.footer-home li a {
    color: #FFFFFF;
}

.footer-home a:hover{
    color: #999999;
}

.icoin-home a:hover {
    color: #AAAAAA;
}
.icoin-home a {
    color: #000000;
}

.detai-highlight {
    font-size: 15px;
}

.hrhome {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.detail-tour {
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
}

.detail-tour strong {
    font-size: 20px;
    color: #0000FF;
}

.list-program {
    font-size: 18px;
}

.center-img {
  padding: 10px;
  text-align: center;
}
.headeing {
    font-family: "Times New Roman", Times, serif;
}

.TNR {
    font-family: "Times New Roman", Times, serif;
}

.headeing {
    color: #FF0000;
}

.title-home {
    margin-bottom: 50px;
    font-family: "Times New Roman", Times, serif;
    color: blue;
    font-size: 35px;
}

.textError {
    color: red;
}

.home {
    font-size: 25px;
}

.introduce-list {
    font-size: 15px;
}

.introduce-body {
    font-size: 17px;
    padding-left: 50px;
}

.font-site16{
    font-size: 16px;
}

.font-site-18 {
    font-size: 18px;
}